@font-face {
  font-family: "Georgia";
  src: url("../../public/fonts/Georgia.woff2") format("woff2"),
    url("../../public/fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../public/fonts/Georgia-Bold.woff2") format("woff2"),
    url("../../public/fonts/Georgia-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
