// @import "_reset.scss";
@import "./colors.scss";
// @import "_constants.scss";
@import "./fonts.scss";

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: $custom-background;
}

::-webkit-scrollbar-thumb {
  background: $custom-text;

  &:hover {
    background: $custom-secondaryText;
  }
}

// ::-webkit-scrollbar-track {
//   background: #f1f1f1; /* Цвет дорожки скроллбара */
// }

// ::-webkit-scrollbar-thumb {
//   background-color: #888; /* Цвет ползунка (слайдера) */
//   border: 2px solid #f1f1f1; /* Внешняя граница ползунка для эффекта */
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: #555; /* Изменение цвета ползунка при наведении */
// }

html {
  @apply bg-custom-background;
}

.container-custom {
  @apply mx-auto px-7 md:px-10 xl:px-20 max-w-custom sm:px-6;
}
