// @import "_reset.scss";
@import "./colors.scss";
// @import "_constants.scss";
@import "./fonts.scss";

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: $custom-background;
}

::-webkit-scrollbar-thumb {
  background: $custom-accent;

  &:hover {
    background: $custom-text;
  }
}

html {
  @apply bg-custom-background;
}

.container-custom {
  @apply mx-auto px-7 md:px-10 xl:px-20 max-w-custom sm:px-6;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.dialog {
  animation: fadeInScale 0.5s ease-out forwards;
}
