// @import "_reset.scss";
@import "./colors.scss";
// @import "_constants.scss";
@import "./fonts.scss";

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $custom-background;
}

::-webkit-scrollbar-thumb {
  background: $custom-text;

  &:hover {
    background: $custom-secondary-text;
  }
}
