@font-face {
  font-family: "Georgia";
  src: url("../../public/fonts/Georgia.woff2") format("woff2"), url("../../public/fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../public/fonts/Georgia-Bold.woff2") format("woff2"), url("../../public/fonts/Georgia-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #3E576E;
}

::-webkit-scrollbar-thumb {
  background: #E2D19E;
}
::-webkit-scrollbar-thumb:hover {
  background: #7A674F;
}

html {
  @apply bg-custom-background;
}

.container-custom {
  @apply mx-auto px-7 md:px-10 xl:px-20 max-w-custom sm:px-6;
}

.backround-sky {
  background: linear-gradient(15deg, #C6AD6B 0%, #3E576E 60%, #3E576E 100%);
}
.backround-sky::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml,%3Csvg xmlns%3D"http%3A//www.w3.org/2000/svg" viewBox%3D"0 0 100 100"%3E%3Ccircle cx%3D"20" cy%3D"20" r%3D"1.5" fill%3D"%23E2D19E" /%3E%3Ccircle cx%3D"70" cy%3D"50" r%3D"1.5" fill%3D"%23E2D19E" /%3E%3Ccircle cx%3D"40" cy%3D"80" r%3D"1" fill%3D"%23E2D19E" /%3E%3Ccircle cx%3D"90" cy%3D"20" r%3D"1.2" fill%3D"%23E2D19E" /%3E%3Ccircle cx%3D"30" cy%3D"50" r%3D"1.7" fill%3D"%23E2D19E" /%3E%3C/svg%3E');
  background-repeat: repeat;
  background-size: 200px 200px;
  opacity: 0.5;
}

.houses::before {
  content: "";
  position: absolute;
  top: 52%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3E576E;
}

.house {
  @apply w-56 h-full bg-custom-background;
  clip-path: polygon(41% 51%, 61% 50%, 80% 28%, 100% 51%, 100% 100%, 0 100%, 0 52%, 20% 0);
}

@media (hover: hover) {
  .custom-hover {
    @apply hover:text-custom-accent;
  }
}
.custom-hover {
  @apply transition-all duration-300 ease-out active:opacity-50;
}

.extend-click {
  @apply relative;
}
.extend-click::before {
  content: "";
  @apply absolute -top-2 -bottom-2 -left-2 -right-2;
}

.footer-svg {
  @apply inline w-full h-full;
}

@media (any-hover: none) and (any-pointer: coarse) {
  .touch-only {
    display: block;
  }
}
@media (any-hover: hover) and (any-pointer: fine) {
  .touch-only {
    display: none;
  }
}
.custom-visible {
  visibility: visible;
  opacity: 1;
}
