@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Georgia";
  src: url("../../public/fonts/Georgia.woff2") format("woff2"),
    url("../../public/fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../public/fonts/Georgia-Bold.woff2") format("woff2"),
    url("../../public/fonts/Georgia-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --custom-text: #285AEB;
  --custom-accent: #fd7080;
  --custom-secondary: #d6249f;
  --offset: 7px;
  --rem: calc(100% - var(--offset));
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #eeeeee;
}

@media (hover: hover) {
  .custom-hover {
    @apply hover:opacity-70;
  }
}

.custom-hover {
  @apply transition-all duration-300 ease-out active:opacity-50;
}

.extend-click {
  @apply relative;

  &::before {
    content: '';
    @apply absolute -top-2 -bottom-2 -left-2 -right-2;
  }
}

.footer-svg {
  @apply inline w-full h-full;
}


@media (any-hover: none) and (any-pointer: coarse) {
  .touch-only {
    display: block;
  }
}

@media (any-hover: hover) and (any-pointer: fine) {
  .touch-only {
    display: none;
  }
}

.custom-visible {
  visibility: visible;
  opacity: 1;
}